.container {
    display: flex;
    border : 2px solid purple;
    flex-direction: column;
    align-items: center;
    width : 250px;
}

.screen {
    border: 3px solid gold;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 50px;
}

.btn {
    flex-wrap: wrap;
}

body {
    display: flex;
    justify-content: center;
}

button {
    padding:20px;
}